@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@301;400;600&display=swap');
/*portfolio.css*/
/*Design for full screen*/
/*portfolio.css*/
*{

    box-sizing: border-box;
}
body{
    font-family:Josefin Sans, sans-serif;
    background-color:rgb(222, 135, 222);

}
main{
    background-color:rgb(184, 167, 224);
    width:90%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    border: 3px solid rgb(113, 65, 134);
    padding: 2rem;
    font-size: larger;
     
}
#information{
    width: 100%;
    padding-left: 10px;
    margin-left: 6rem;
    
}
#workinformation{
    width: 100%;
    padding-left: 10px;
    margin-left: 6rem;
}
h3{
    text-align: left; 
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*container for <a> tags*/
nav{
    width:100%;
    background: black;
    text-align: center;
    display: flex;

}

/*change colour of <a> tags*/

nav a{
  
    font-size: 1rem;
    padding: 1rem;
    color: white;  
    flex: 1;
}

nav  a:hover{

    background: rgb(219, 162, 207);
}


button{
   font: 14px;
  
}
.button{
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    margin-left:5rem;
 
  
}
.button-large{
    font-size: 18px;
    padding: 12px 20px;
    

}
.button-primary{
    background: slategray;
    color: white;
}
.button-primary:hover{
    background: lightslategray;
}
 
h2{
    text-align: center;
  }

#shopping {
    
    column-count:3;
    margin:5rem 12rem 5rem 12rem;
    column-gap: 10px;
   
    

}

#shopping img{
    width: 250px;
    height: auto;
    border:2px solid white;
    padding: 1px;
   
}

figure{
    width: 100%;
}

footer{
    
    width: 20rem;
    margin-left: auto;
    margin-top: 5rem;
    display: flex;
    
   
}
/*resize*/

@media all and (min-width:320px)
{
   /*img{
       max-width:100%;
       float:none;
       margin-right:0;
       display:block;
   }
   main{
       font-size:smaller;
       background-color:  rgb(184, 167, 224);
   }*/
   body{
       background-color:rgb(86, 87, 87);
   }
}

@media all and (max-width:3200px)
{
   img{
       max-width:100%;
       float:none;
       margin-right:0;
       display:block;
   }
   main{
       font-size:smaller;
       background-color:rgb(184, 167, 224);
   }
   fieldset{
       width: 60%;

   }

}
/*Design for print*/   
@media print
{
  main{
    max-width: 80ch;
    margin: 0 auto;
    background-color: white;
    font-family: Josefin Sans, sans-serif;
    font-style: italic;
    font-size: smaller;
  }  
  img{
      width:300px;
      height: auto;
      float:left;
      margin-right: 1rem;
  }
}